#dark .details-page{
    background-color: $dark-bg-color-1;
    color: $dark-text-color;
}

.side-image{
    padding-left: 10rem;
}

.details-page{
    padding-top: 7rem;
}

.genre-text{
    text-transform: uppercase;
    font-size: to-rem(24);
}

.line{
    padding-right: 2.5rem;
    background-color: transparent;
}

.article-details{
    font-size: to-rem(24);
}

.pen, .calendar{
    color: $pink;
    padding-right: 1rem;
}

.sub-title-text{
    padding-top: 1rem;
    font-size: to-rem(24);
}

.title-text{
    font-family: roboto-bold;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.right-column-top{
    padding-right: 10rem;
}

.main-content{
    padding-top: 2.5rem;
    padding-bottom: 6rem;
    padding-left: 10rem;
    padding-right: 10rem;
    font-size: to-rem(24);
}