$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "../../fonts/icons" !default;

$icon-a-regular: "\e913";
$icon-settings: "\e912";
$icon-filter: "\e900";
$icon-down-arrow: "\e906";
$icon-exit-nav: "\e90d";
$icon-nav-toggler: "\e90e";
$icon-search: "\e90f";
$icon-down-chevron: "\e90c";
$icon-image-gallery-solid: "\e90b";
$icon-Line: "\e908";
$icon-calendar: "\e907";
$icon-Pen: "\e909";
$icon-right-arrow: "\e90a";
$icon-left-arrow: "\e911";
$icon-halfcircle: "\e901";
$icon-a-: "\e910";
$icon-a: "\e902";
$icon-letter: "\e903";
$icon-phone: "\e904";
$icon-location: "\e905";
$icon-facebook: "\ea90";
$icon-twitter: "\ea96";
$icon-linkedin: "\eaca";
