$primary: #FFFFFF;
$green: #44E07D;
$secondary: #8866ec;
$purple: #6846D2;
$l-purple: #EAE6F6;
$d-purple: #0f013b;
$d-purple-2: #2b1374;
$pink: #E4007E;
$l-pink: #FF4DAF;
$l-pink-2: #E9A6D1;
$black: #000;
$black-1: #141414;
$black-2: #010101;
$black-3: #2B2B2B;
$black-4: #1F1F1F;
$white: #fff;
$white-1: #FBFAFF;
$gray: #ECECEC;
$d-gray: #EEE;
$d-gray-2: #707070;;
$d-gray-3: #464646;;
$light-grey: #F8F6FF;;
$light-grey-2: #F1F1F1;
$d-gray-1: #646464;;
$d-gray-4: #F4F4F4;
$d-gray-5: #8F8F8F;;
$d-gray-6:#EAE9E9;;
$d-gray-7:#F8F8F8;;
$d-gray-8:#F6F6F6;

$dark-bg-color-1: $d-purple;
$dark-bg-color-2: $d-purple-2;
$dark-text-color: $white;
$dark-text-color-2: $gray;

$light-bg-color-1: $gray;
$light-bg-color-2: $white;
$light-text-color: $black;