.pagination {
  padding-bottom: 6rem;
  margin-bottom: 0;
}
.page-link {
  font-size: 1.15rem;
  color: #8d8d8d;
  &:focus {
    color: #5130b5;
    background-color: white;
    border-color: #5130b5;
  }
}

#dark .page-link{
  background-color: $dark-bg-color-2;
  color: $dark-text-color;
  border-color: $dark-bg-color-1;
}

.page-item {
  margin-left: 0.3rem;
  margin-right: 0.3rem;
}

.next {
  background-color: black;
}
.previous {
  background-color: #eae9e9;
}
