.media-section{
    overflow-x: hidden;
    background-color: #141414;
    width: 100%;
    height: 80rem;
    padding-top: 5rem;
    .subtitle{
        font-size: 1.125rem !important;
    }
    .section-title{
        font-size: 3.75rem !important;
        padding-bottom: 6rem;
    }
    .button-cont{
        display: flex;
        justify-content: right;
        padding-right: 0;
        margin-right: 0;
        margin-bottom: 4rem;
        .button{
            color: white;
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
            width: 15.625rem;
            height: 4.5rem;
            font-size: 1.375rem;
            font-family: roboto-light;
            text-align: center;
        }
        @media screen and (max-width: 992px) {
            justify-content: left;
        }
    }

    .slick-slide {
        padding-right: 3rem;
        padding-bottom: 6rem;
    }

    .slick-list{
        padding: 0 20% 0 0 !important;
    }

    .slick-dots li button:before {
        color: white !important;
    }

    .slick-dots li.slick-active button:before {
        color: white !important;
        border-radius: 50%;
        border: 1px solid white;
        height: 1.8rem;
        width: 1.8rem;
    }
}

